@use '../../scss/variables' as v;

.cart {
  display: flex;
  flex-direction: column;
  max-width: v.$product-width;
  margin: 25px auto 0;

  &__nav {
    display: flex;
    align-items: center;
  }

  &__back {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: v.$white;
    padding-left: 10px;
  }

  &__title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 33px;
    color: v.$white;
    padding-left: 20px;
    margin-top: 25px;
    border-left: 4px solid v.$dark-green;
  }

  &__inner {
    padding: 50px 0;
  }

  &__checkout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 765px;
    width: 100%;
    flex-basis: 105px;
    margin: 0 auto;
    padding: 0 30px 0 40px;
    background-color: v.$dark-gray;
    border-radius: 10px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 75px;
    transition: min-height 500ms;
  }

  &__total {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: v.$white;
  }

  &__cost {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;
    color: v.$white;
  }

  &__paid {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: v.$gray;

    &-enter,
    &-appear {
      opacity: 0;
    }

    &-enter-active,
    &-appear-active {
      opacity: 1;
      transition: opacity 500ms;
    }

    &-exit {
      opacity: 1;
    }

    &-exit-active {
      opacity: 0;
      transition: opacity 500ms;
    }
  }

  &__rest {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: v.$gray;
  }

  &__min {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: v.$gray;
  }

  &__info_free {
    min-height: 55px;
  }
}
