@use '../../scss/variables' as *;

@use '../../scss/mixins' as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 150px;
  height: 50px;
  background-color: $green;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: none;
  transition: 200ms;

  &__title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: $white;
    flex-grow: 1;

    &_hidden {
      display: none;
    }
  }

  &__inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 45px;
    height: 36px;

    &_hidden {
      display: none;
    }

    &_border {
      border-left: 1px solid $white30;

      &.button__inner {
        justify-content: center;
        width: 50px;
      }
    }
  }

  svg {
    width: 24px;
    height: 24px;
  }

  &__counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $white;

    &_hidden {
      display: none;
    }
  }

  &__amount {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: $bg-color;
  }

  &_normal {
    @include for-phone-only {
      position: absolute;
      top: 13px;
      right: 0;
      width: 62px;
      height: 50px;
      flex-direction: column-reverse;

      .button__title {
        text-transform: lowercase;
        font-size: 12px;
        line-height: 15px;
        flex-grow: 0;
      }

      .button__inner {
        width: 46px;
        height: 26px;
      }

      .button__inner_border {
        border-left: none;
        border-bottom: 1px solid $white30;
      }

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }

  &_small {
    width: 60px;
    height: 45px;

    .button__inner {
      justify-content: center;
    }

    svg {
      width: 18px;
      height: 18px;
    }
  }

  &_medium {
    width: 135px;
    height: 45px;

    .button__inner {
      justify-content: flex-start;
      width: 36px;
    }

    svg {
      width: 18px;
      height: 18px;
    }
  }

  &_large {
    width: 210px;
    height: 50px;
  }

  &:active {
    background-color: $dark-green;
  }

  @include for-tablet-portrait-up {
    &:hover {
      box-shadow: 0px 5px 10px $green-shadow;
    }
  }
}
