@use '../../scss/variables' as *;

.menu {
  border-bottom: 1px solid $white10;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: var(--container-width);
    margin: 0 auto;
  }

  &__title {
    width: 100%;
  }

  &__title-inner {
    margin-left: 10px;
    margin-top: 50px;
    border-left: 4px solid $dark-green;
    padding-left: 20px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 33px;
    color: $white;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 50px 0;
  }
}
