@use '../../scss/variables' as v;

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 325px;
  height: 385px;
  background-color: v.$dark-gray;
  border-radius: 10px;
  padding-bottom: 20px;

  &__image {
    height: 225px;

    img {
      object-fit: cover;
      border-radius: 10px 10px 0 0;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 285px;
    height: 120px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: v.$white;
  }

  &__weight {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: v.$white;
  }

  &__description {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: v.$gray;
    text-align: left;
    width: 100%;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__price {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: v.$white;
  }

  &:hover {
    box-shadow: 0px 30px 45px v.$black-shadow;
  }
}
