@use '../../scss/variables' as *;

@use '../../scss/mixins' as *;

.checkout {
  display: flex;
  flex-direction: column;
  max-width: var(--checkout-width);
  margin: 25px auto 0;

  &__nav {
    display: flex;
    align-items: center;
  }

  &__back {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $white;
    padding-left: 10px;
  }

  &__title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 33px;
    color: $white;
    padding-left: 20px;
    margin-top: 25px;
    border-left: 4px solid $dark-green;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    row-gap: 20px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    background-color: $dark-gray;
  }

  &__subtitle {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: $white;
  }

  &__card-inner {
    display: grid;
    grid-template-columns: 1fr 210px;
    grid-template-rows: 1fr;
    row-gap: 15px;
    width: 100%;

    @include for-phone-only {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 2fr);

      & > :nth-child(2) {
        justify-self: center;
      }
    }
  }

  &__label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
    cursor: pointer;

    span {
      font-family: Gilroy;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: $white;
      position: relative;
      z-index: 1;
      text-align: center;
    }
  }

  &__personal {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-left: 33px;
    cursor: pointer;

    span {
      font-family: Gilroy;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      color: $white;
    }

    a {
      color: $green;
      text-decoration-line: underline;
      text-decoration-color: $green;
    }
  }

  &__checkbox {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;

    &:checked ~ .checkout__checkmark:after {
      opacity: 1;
    }
  }

  &__checkmark {
    position: absolute;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: $white;
    border-radius: 3px;

    &:after {
      content: '';
      position: absolute;
      left: 7px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid $green;
      border-width: 0 4px 4px 0;
      transform: rotate(45deg);
      opacity: 0;
      transition: opacity 0.25s;
    }
  }

  &__error {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $error-color;
    padding-left: 20px;
    padding-top: 15px;
  }

  &__loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $modal-bg;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
