@use '../../scss/variables' as *;

@use '../../scss/mixins' as *;

.header {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: $bg-color;
  height: 80px;
  border-bottom: 1px solid $white10;

  @include for-phone-only {
    height: 140px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: var(--container-width);
    height: 100%;
    position: relative;

    @include for-phone-only {
      flex-direction: column;
      padding-bottom: 13px;

      a {
        display: flex;
        align-items: center;
        flex-grow: 1;
      }
    }
  }

  &__burger {
    display: none;
    position: absolute;
    top: 20px;
    left: 10px;
    cursor: pointer;

    svg {
      width: 25px;
      height: 17px;

      rect {
        fill: $green;
      }
    }

    @include for-phone-only {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-title {
      font-family: Gilroy;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: $white;
      padding-top: 7px;
    }
  }

  &__logo {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0.15em;
    color: $white;
  }

  &__contacts {
    flex-basis: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    svg {
      width: 32px;
      height: 32px;

      path,
      circle {
        fill: $green;
      }
    }

    @include for-phone-only {
      display: none;
    }
  }

  &__contacts-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__contacts-title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 167%;
    color: $gray;
  }

  &__contacts-number {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: $white;
    transition: 200ms;

    @include for-tablet-portrait-up {
      &:hover {
        color: $gray;
      }
    }
  }
}
