@use '../../scss/variables' as v;

.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: v.$bg-color;
  // border-bottom: 1px solid v.$white10;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: v.$container-width;
    height: 73px;
    margin: 0 auto;
  }
}
