@use '../../scss/variables' as v;
@use '~slick-carousel/slick/slick';
@use '~slick-carousel/slick/slick-theme';

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: v.$container-width;
  height: 575px;
  margin: 0 auto;
  padding-bottom: 50px;
  border-top: 1px solid v.$white10;

  &__title {
    width: 100%;
  }

  &__title-inner {
    margin-left: 10px;
    margin-top: 52px;
    border-left: 4px solid v.$dark-green;
    padding-left: 20px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 33px;
    color: v.$white;
  }

  &__slider {
    width: 1120px;
  }
}
