@use '../../scss/variables' as v;

.footer {
  height: 195px;
  background-color: v.$black;
  margin-top: 50px;

  &__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    max-width: v.$container-width;
    height: 100%;
  }

  &__up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: v.$white;
    cursor: pointer;
    border: none;
    outline: none;

    svg {
      width: 22px;
      height: 13px;

      path {
        fill: v.$black;
      }
    }
  }

  &__docs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 210px;
    height: 140px;
    margin-left: 55px;
  }

  &__logo {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0.15em;
    color: v.$white;
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: v.$white;
    height: 100px;

    a {
      display: block;
      font-family: Gilroy;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: v.$white;
      text-decoration-line: underline;
      text-decoration-color: v.$white20;
    }
  }

  &__links-title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: v.$gray;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 620px;
    margin-left: 85px;
  }

  &__nav-items {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: v.$white;
    cursor: pointer;
  }
}
