@use '../../scss/variables' as v;

.round-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: v.$dark-green;
  border: none;
  outline: none;

  svg {
    width: 12px;
    height: 12px;
  }
}
