$white: #ffffff;
$white10: rgba(255, 255, 255, 0.1);
$white30: rgba(255, 255, 255, 0.3);
$green: #72a479;
$gray: #cfcfcf;
$black: #403c3b;
$bg-color: #44403f;
$search-color: #504b4a;

$container-width: 1170px;
