@use '../../scss/variables' as *;

@use '../../scss/mixins' as *;

.contacts {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: var(--container-width);
  min-height: 610px;
  margin: 50px auto 0;
  padding-left: 70px;
  background-image: url(./contacts.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 525px;
    min-height: 405px;
    padding: 25px 45px;
    background-color: $black;
    border-radius: 15px;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.15);

    @include for-phone-only {
      justify-content: center;
      padding: 25px;
    }
  }

  &__title {
    align-self: flex-start;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: $white;

    @include for-phone-only {
      align-self: center;
      padding-bottom: 20px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 170px;
    padding: 20px 0;
    border-top: 1px solid $white10;
    border-bottom: 1px solid $white10;

    svg {
      width: 24px;
      height: 24px;
    }

    path,
    circle {
      stroke: $dark-green;
    }

    @include for-phone-only {
      height: 185px;
    }
  }

  &__address {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    svg {
      margin: 0 5px;
    }
  }

  &__address-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 70px;
    padding-left: 10px;

    @include for-phone-only {
      height: 85px;
    }
  }

  &__address-title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $gray;
  }

  &__address-street {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $white;
  }

  &__mail {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__mail-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 45px;
    padding-left: 10px;
  }

  &__mail-title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $gray;
  }

  &__mail-address {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $white;
    transition: 200ms;

    @include for-tablet-portrait-up {
      &:hover {
        color: $gray;
      }
    }
  }

  &__reservation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include for-phone-only {
      flex-direction: column;
      padding-top: 20px;
    }
  }

  &__phone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include for-phone-only {
      padding-top: 20px;
    }
  }

  &__number {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    color: $white;
    transition: 200ms;

    @include for-tablet-portrait-up {
      &:hover {
        color: $gray;
      }
    }
  }

  &__description {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: $gray;
  }

  &__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 185px;

    @include for-phone-only {
      padding-top: 20px;
    }
  }

  &__social-title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $white;
  }

  &__social-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;

    svg {
      width: 19px;
      height: 19px;
    }

    a {
      display: flex;
      align-items: center;
    }
  }

  @include for-phone-only {
    min-height: 405px;
    background-image: none;
    padding: 0;
  }
}
