@use '../../scss/variables' as *;

@use '../../scss/mixins' as *;

.checkout-input {
  flex-grow: 1;
  height: 50px;
  border-radius: 10px;
  border: 1px solid $white10;
  background-color: transparent;
  padding-left: 20px;
  outline: none;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $white;
  appearance: none;

  &::placeholder {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $gray;
  }

  &[type='time']::-webkit-calendar-picker-indicator {
    display: none;
  }

  &:focus {
    border-color: $green;
  }

  &:checked {
    background-color: $green;
  }

  &_radio {
    position: absolute;
    width: 100%;
    padding: 0;
    border-radius: 0;
    border-color: $green;
    cursor: pointer;
  }

  &_radio-left {
    border-radius: 10px 0 0 10px;
  }

  &_radio-right {
    border-radius: 0 10px 10px 0;
  }

  &_error {
    border-color: $error-color;
  }

  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: 200ms;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: 200ms;
  }
}
